<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.trade.folio.domain.member.mapper.MemberMapper">

    <select id="countByLoginId" resultType="int">
        SELECT COUNT(1)
          FROM folio.member
         WHERE login_id = #{loginId}
    </select>

    <select id="countByEmail" resultType="int">
        SELECT COUNT(1)
          FROM folio.member
         WHERE email = #{email}
    </select>

    <select id="findByLoginId" resultType="com.trade.folio.domain.member.entity.Member">
        SELECT id, login_id, password, nickname, email, role, status, updated_at, created_at
          FROM folio.member
         WHERE login_id = #{loginId}
    </select>

    <insert id="insert" parameterType="com.trade.folio.domain.member.entity.Member">
        INSERT INTO folio.member (login_id, password, nickname, email)
        VALUES (#{loginId}, #{password}, #{nickname}, #{email})
    </insert>

</mapper>
